.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 5th row */

 .row5ht_box{
  margin-top: 40px;
 display: flex;
 justify-content: space-evenly;
}
.back_btn{
   background-color: black;
   color: white;
   padding: 20px;  
}

/* row 7th */

.row7th_img{
  display: flex;
  justify-content: space-between;
   gap: 20px;
}

 /* row 8th */
.modal_img{
  width: 250px;
  height: 250px;
}

/* row 11 */

.pro11{
  display: inline-block ;
  
}
.pro11image{
   width: 200px;
   height: 200px;
  }

  /* row 12 */

  .row12ht_box{
    display: flex;
 justify-content: space-evenly; 
 margin-top: 15px;
  }

  /* sale comp */

  .saleBox{
    display: inline-block;
    margin-left: 100px;
 }

 /* makeup comp */

 .makeupBox{
  width: 500px;
  margin-right: auto;
   margin-top: 0px;
   text-align: center;
   overflow: hidden;
 }

 /* slid Show com */
 

  .slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  /* border: 2px solid #6a0dad; */
}  

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
  /* border: 2px solid #df7708; */
}

.slide {
  display: inline-block;
  height: 570px;
  width: 100%;
  border-radius: 40px;
  /* border: 2px solid #0ff560; */
}

/*  slidShow button Buttons */

.slideshowDots {
  text-align: center;
  /* margin-top: 200px; */
  /* border: 2px solid #0bbaf9; */
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  /* border: 2px solid #8f03f3; */

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}
